* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  html {
    font-size: 16px;
  }
}
.container {
  width: 80%;
  height: 100rem;
  background-color: rgb(249, 248, 248);
  margin: 0.125rem auto;
  padding-left: 1.6rem;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
header .logo {
  height: 25%;
}
.logo img {
  width: 7.5rem;
  height: 7.5rem;
}

header .nav {
  width: 50%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.nav input {
  opacity: 0;
}
.nav div {
  width: 30%;
  height: 4rem;
  text-align: center;
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav div:nth-child(3) img {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: bottom;
}
.nav label {
  width: 70%;
  height: 70%;
  display: inline-block;
  background-color: rgb(249, 248, 248);
  transition: transform 0.8s;
  padding-top: 0.625rem;
  cursor: pointer;
}
.nav input[type="radio"]:checked ~ label {
  border: 1px solid orange;
  border-radius: 0.3125rem;
  transform: scale(1.06);
}

/* Welcome words */
.welcomeWord h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  margin-top: 2rem;
  color: orange;
}

/* progress part */
.progressPart h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: orange;
}
.box-bar {
  width: 95%;
  height: 2rem;
  background-color: rgb(16, 15, 15, 0.1);
  border-radius: 0.3125rem;
  box-shadow: 0 0.3rem 0.5rem rgba(60, 57, 57, 0.25) inset;
}
.box-bar .box-per {
  display: block;
  height: 100%;
  border-radius: 0.3125rem;
  background-image: -webkit-linear-gradient(
    left,
    rgba(224, 135, 10, 0.8),
    rgba(245, 195, 108, 0.9)
  );
  box-shadow: 0 0.3rem 0.5rem rgba(60, 57, 57, 0.25) inset;
  animation: progress 2s ease-in-out forwards;
  opacity: 0;
}
@keyframes progress {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
.progressPart p {
  font-size: 1.2rem;
  font-weight: 610;
  margin-top: 0.625rem;
  color: rgb(243, 188, 85);
}
.mainForm {
  margin-top: 5rem;
}

.form-1,
.form-2,
.form-3,
.form-4 {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: orange;
}
.form-1 {
  margin-left: 3.4rem;
}
.form-2 {
  margin-left: 6rem;
}
.form-4 {
  margin-left: 4.7rem;
}
.form-4 div {
  margin-right: 0.5rem;
}
.form-1 input,
.form-2 input,
.form-3 input {
  width: 20rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.form-4 input {
  display: inline-block;
  width: 8rem;
  height: 2.5rem;
  margin-left: 0.4rem;
}
.form-5 {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.form-5 input {
  width: 8rem;
  height: 3rem;
  background-color: rgb(224, 156, 28);
  border: none;
  color: white;
  font-size: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0.2rem 0.1rem 0.2rem 0.1rem rgb(128, 78, 4);
  margin-right: 2rem;
}
