* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    width: 10rem;

    /* background-color: rgb(232, 94, 20); */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.25rem;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.4286rem;

}


.occupation {
    position: relative;
    height: 1.25rem;

}

header h1 {
    color: #010101;
    font-size: 0.14rem;
    /* background-color: rgb(57, 201, 186); */
}

header h4 {
    color: #a7a7a7;
    font-size: 0.07rem;
    /* background-color: rgb(173, 123, 30); */
    margin-top: .1214rem;
}

/* nav */
nav {

    width: 100%;
    background-color: white;
    padding-left: 1.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

}


nav a {
    color: #131313;
}

nav ul {

    width: 3rem;
    /* background-color: rgb(149, 69, 69); */
    font-size: .0929rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


@media screen and (max-width:800px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

}


nav li a:hover {
    color: #a7a7a7;
}


/* banner */
.banner {
    height: 3.37rem;
    /* background-color: rgb(170, 228, 202); */
    overflow: hidden;
}

img {
    width: 100%;
    height: 3.37rem;
}

/* content */
.content {
    width: 100%;
    /* height: 9.8286rem; */
    /* background-color: rgb(35, 56, 195); */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

    padding: 0.3786rem 1.0429rem .9071rem 1.3857rem;

}

.box2 {
    order: 1;
}

.box4 {
    order: 1
}


.box1 {

    width: 2.5rem;
    /* background-color: rgb(228, 178, 103);*/
}

.box1 .para {
    font-size: .0857rem;
    color: #747474;
    margin-top: .2143rem;
}

.box2 {
    width: 2.5rem;
    /* background-color: rgb(197, 144, 202); */
    margin-top: 0.5rem;
}

.box2 .para {
    font-size: .0857rem;
    color: #747474;
    margin-top: .2143rem;
    text-indent: 0.5em;
}

.box3 {
    width: 4.9286rem;
    /* background-color: rgb(112, 225, 242); */
    padding-left: .5143rem;
}

.box4 {
    width: 4.9286rem;
    /* background-color: rgb(214, 224, 180); */
    padding-left: .5143rem;
    margin-top: 0.5rem;
}

.box3 .para {

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: rgb(196, 126, 181); */
    font-size: .1rem;
    color: #747474;
}

.box3 .para p {
    margin-top: .1357rem;
}

.box4 .icon {
    /* width: 3.9286rem; */
    margin-top: .3643rem;
    margin-right: .7214rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:1100px) {
    .box4 .icon {
        width: 2.5rem;
    }

}

@media screen and (max-width:900px) {
    .box4 .icon {
        width: 2rem;
    }

}

.box4 img {
    width: .7857rem;
    height: .7857rem;
}

.box4 ul li {
    width: .7857rem;
    height: .7857rem;
}

.box1 .title,
.box2 .title {
    font-size: .1071rem;
    color: #000000;
}

.box3 .title,
.box4 .title {
    font-size: .1714rem;
    color: #000000;
}


@media screen and (max-width:760px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .content>div {
        width: 7.8571rem;
        padding-left: 0;
        margin-top: 0.2rem;
    }

    .box4 .icon {
        width: 4rem;
        padding-left: .7143rem;
    }
}



/* footer */
footer {
    background-color: #6637cc;
}

footer .big-ul {
    width: 7.4286rem;
    /* background-color: rgb(202, 40, 194); */
    margin-top: .3857rem;
    margin-left: 1.3929rem;
    padding-top: .1429rem;
    display: flex;
    justify-content: space-between;
}

.big-ul li:nth-child(1) {
    flex: 1;
    /* background-color: rgb(238, 168, 168); */
}

.big-ul li:nth-child(2) {
    flex: 1;


    /* background-color: rgb(232, 232, 46); */
}

.big-ul li:nth-child(3) {
    flex: 1;

    /* background-color: rgb(61, 232, 46); */
}

.big-ul li:nth-child(4) {
    flex: 1;

    /* background-color: rgb(82, 116, 228); */
}

.big-ul h2 {
    font-size: .1286rem;
    color: white;
}

.find .address {
    position: relative;

}

.find img {
    margin-top: .1071rem;
    width: 1.6143rem;
    height: 1.6143rem;
}

/* how to make this word fixed on the mask */
.find .address .mask {
    position: absolute;
    left: 0;
    top: .1071rem;
    width: 1.6143rem;
    height: 1.6143rem;
    background-image: linear-gradient(transparent, rgba(6, 5, 5, 0.8));
    transition: all 0.5s;
    opacity: 0;
    line-height: 3.1071rem;
    text-align: center;

}


.find .address .mask a {
    font-size: .1143rem;
    color: rgb(252, 253, 253);

}

/* why this occapution box doesn't work */
.find .occupation2 {
    position: absolute;
    height: 1.6143rem;

}

.address:hover .mask,
.address:hover .title {
    opacity: 1;
}

footer .find .small-ul {
    font-size: .1071rem;
    color: aliceblue;
    /* margin-bottom: 1.2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .find .small-ul li {
    margin-bottom: 2px;
}

footer .about .about-detail {
    font-size: .1071rem;
    color: white;
    margin-top: .2143rem;
    padding-right: 0.5rem;
}



footer .big-ul .archive .small-ul {
    font-size: .1071rem;
    color: aliceblue;
    overflow: hidden;
    margin-top: .0786rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(110, 65, 217); */


}

footer .big-ul .archive .small-ul li:nth-child(-n+2) {
    border-bottom: 1px solid #7149c1;

}

footer .big-ul .archive .small-ul li {
    width: 1.15rem;
    line-height: .4643rem;
    font-weight: 600;
}

footer .big-ul .nav .small-ul {
    font-size: .1071rem;
    color: aliceblue;
    overflow: hidden;
    margin-top: .0714rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}


footer .big-ul .nav .small-ul li:nth-child(-n+4) {
    border-bottom: 1px solid #7149c1;
}


footer .big-ul .nav .small-ul li {
    width: 1.15rem;
    line-height: .4643rem;
    font-weight: 600;
}

@media screen and (max-width:740px) {
    footer .big-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .big-ul li {
        width: 1.6143rem;
        margin-bottom: 0.2rem;
    }
}



/* footer .first-ul .nav .second-ul li:nth-child(2) {
    align-self: center;
} */