.game input:nth-child(1) {
  width: 200px;
  text-align: center;
  margin-left: 38%;
}
input:nth-child(3) {
  margin-left: 39%;
  margin-top: 20px;
}
.gameBox {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 500px;
  background-color: rgb(244, 230, 146);
  margin-top: 50px;
}
.pressS {
  flex: 1;
  background-color: rgb(208, 157, 215);
  text-align: center;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
}

.pressL {
  flex: 1;
  background-color: rgb(89, 201, 81);
  text-align: center;
  border-top: 2px solid grey;
}
.game p {
  text-align: center;
}
